/*
    Created on : Mar 31, 2022, 6:16:36 PM
    Author     : eVmPr
*/
@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Slab:wght@400;700&family=Special+Elite&family=Yellowtail&display=swap");
@font-face {}
:root {
  --green:#16a085;
  --black:#444;
  --light-color:#777;
  --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border:.2rem solid var(--green);
  --prata: "Prata", serif;
  --eite:"Special Elite", cursive;
  --rslab: "Roboto Slab", serif;
  --ytail: "Yellowtail", cursive;
  --max-ht1: 75vh;
  --complete: 100%;
}

* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.show {
  display: block;
}

html {
  background-color: #fff;
}

body {
  margin: 0 5%;
  position: relative;
  min-width: 100wh;
}

header {
  width: 100%;
  border-bottom: 2px solid black;
  /*position: absolute;*/
}

header span {
  font-size: 2em;
}

header i#nav-icon {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px;
  font-size: 2em;
  cursor: pointer;
}

#nav-icon:hover {
  color: white;
  background-color: black;
}

/* page styles*/
main {
  display: block;
  position: relative;
  /*margin: 1% ;*/
  padding: 1.5% 2.5%;
  width: auto;
  height: 87.5%;
  float: right;
  background-color: #ffccff;
}

article {
  width: 100%;
  height: auto;
}

section {
  /*float: right;*/
  display: in-line block;
  padding: 15px;
  margin: 1% 0 1% 5%;
}

/* container styles */
.toggle-btn {
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 1%;
}

.toggle-box {
  display: inline-block;
  position: relative;
}

.toggle-box#right-box {
  float: right;
}

.toggle-content {
  /*    width: 450px;
      height: 650px;*/
  width: auto;
  height: auto;
  /* border-radius: 10%; */
  background-color: #fff;
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);*/
  z-index: 1;
  padding: 5px;
  /*margin: 5px;*/
  position: fixed;
  /*max-height: px;*/
  /*overflow-y: auto;*/
}

.toggle-content::before {
  /*background-color: rgba(0,0,0,0.75);*/
}

.toggle-content#terminal {
  right: 0;
  top: 0;
  float: right;
}

/* nav styles*/
aside#nav-box {
  background-color: #6975d8;
  float: left;
  height: 100%;
  position: relative;
  display: inline-block;
  /*z-index: 1;*/
}

#nav-box nav {
  padding: 10px;
  height: 100%;
  width: 9.75rem;
  /*display: none;*/
  /*z-index: 1;*/
}

.navlist {
  display: none;
}

.navlist ul {
  list-style: none;
}

.navlist ul li {
  width: 100%;
  font-size: 1.25em;
  /*font-family: var(--elite);*/
  padding: 0.5em 0;
  width: 100%;
}

.navlist ul li * {
  color: #fff;
}

.navlist ul li *:hover {
  background-color: #fff;
  color: #6975d8;
  font-weight: 700;
}

/*.navlist ul li a{

}*/
/*
.navlist ul li a:hover{

} */
/*text styles*/
h1 {
  font-family: var(--prata);
  font-size: 2.5em;
}

h2 {
  font-family: var(--prata);
  font-size: 1.5em;
}

h3 {
  font-family: var(--prata);
  font-size: 1em;
}

p {
  font-family: var(--elite);
  font-size: 14px;
}

footer {
  padding: 2.5% 1%;
  background-color: #cc00ff;
  /*height: 50px;*/
  /*bottom: 100%;*/
  float: left;
  width: 100%;
  position: relative;
}

address {
  font-size: 1em;
}

/* Media styles*/
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}


/*# sourceMappingURL=main.css.map */
