
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

    *::before, *::after {
        box-sizing: border-box;
    }

html {
    font-size: 14px;
}
body{
    overflow-y: auto;
}
table {
    border: 0;
    border-collapse: collapse;
}

ul, ol {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


body {
}
