@font-face {
  font-family: "VT-323", "Courier New", "Courier", monospace;
  src: url("https://fonts.googleapis.com/css2?family=VT323&display=swap'");
}
@font-face {
  font-family: "Courier Prime", "Courier New", Courier, monospace;
  src: url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}
body {
  font-family: "Courier New", Courier, monospace;
}